body{
    background-image: radial-gradient(circle, red, yellow, green);
    display: flex;
    justify-content: center;
    min-width: 200vh;
    overflow: hidden;
    
}

.Clock {
    width: 600px;
    height: 600px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    /* border: solid; */
    
}

.Clock .number {
    --rotation: 0;
    font-size: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.Clock .number1{
    --rotation: 30deg;
    color: white;
}

.Clock .number2{
    --rotation: 60deg;
    color: white;
}

.Clock .number3{
    --rotation: 90deg;
    color: white;
}

.Clock .number4{
    --rotation: 120deg;
    color: white;
}

.Clock .number5{
    --rotation: 150deg;
    color: white;
}

.Clock .number6{
    --rotation: 180deg;
    color: white;
}

.Clock .number7{
    --rotation: 210deg;
    color: white;
}

.Clock .number8{
    --rotation: 240deg;
    color: white;
}

.Clock .number9{
    --rotation: 270deg;
    color: white;
}

.Clock .number10{
    --rotation: 300deg;
    color: white;
}

.Clock .number11{
    --rotation: 330deg;
    color: white;
}

.Clock .number12{
    --rotation: 360deg;
    color: white;
}

.Clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 20px;
    height: 50%;
    background-color: white;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translate(-50%) rotate(calc(var(--rotation)*1deg));

}

.Clock .hand.second {
    width: 3px;
    height: 45%;
    background-color: red;
}

.Clock .hand.minute {
    width: 7px;
    height: 40%;
    background-color: white;
}

.Clock .hand.hour {
    width: 10px;
    height: 35%;
    background-color: white;
}

.Clock::after{
    content: '';
    position: absolute;
    background-color: white;
    z-index: 11;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.heading {
    margin-left: 10px;
}